@font-face {
    font-family: playfair_display_regular;
    src: url(assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}
@font-face{
	font-family: playfair_display_bold;
	src: url(assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf);
}
@font-face{
	font-family: ubuntu_regular;
	src: url(assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face{
	font-family: ubuntu_bold;
	src: url(assets/fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face{
	font-family: inconsolata_bold;
	src: url(assets/fonts/Inconsolata/Inconsolata-Bold.ttf);
}
@font-face{
	font-family: inconsolata_regular;
	src: url(assets/fonts/Inconsolata/Inconsolata-Regular.ttf);
}
#nav ul{
	margin: 0;
	text-align: center;
}
#nav ul > li{
	display: inline-block;
	vertical-align: middle;
}
#nav ul > li > a{
	font-family: playfair_display_regular;
	color: #5e5e5e;
	vertical-align: middle;
}
#nav > .row{
	padding: 0px;
}
.navbar li a{
	font-family: playfair_display_regular;
	color: #5e5e5e;
}
.text-black{
	color: #000;
}
.titulotop{
	font-family: inconsolata_regular;
	font-size: 30px;
	letter-spacing: 5px;
	font-weight: 500;
}
.navmenu{
	margin-top: 40px;
	margin-bottom: 40px;
}
.cat_principal{
	font-size: 14px;
	margin-top: 90px;
	font-family: ubuntu_regular;
	padding: 0;
}
.cat_principal > a{
	text-decoration: none;
	color: #c6c6c6;
}
.titulo_principal{
	margin-top: 15px;
	font-family: playfair_display_regular;
	padding: 0;
}
.titulo_principal > a{
	font-size: 35px;
	color: #5e5e5e;
	padding: 0;
	text-decoration: none;
}
.excerpt_principal{
	margin-top: 20px;
	font-family: playfair_display_regular;
	font-size: 14px;
	color: #5e5e5e;
	padding: 0;
}
.contenido_principal{
	margin-top: 20px;
	font-family: playfair_display_regular;
	font-size: 14px;
	color: #5e5e5e;
	padding: 0;
}
.contenido_principal > img{
	margin: 0;
}
.comentarios_principal{
	font-size: 14px;
	margin-top: 30px;
	font-family: ubuntu_regular;
	padding: 0;
}
.comentarios_principal > a{
	text-decoration: none;
	color: #c6c6c6;
}
.cat_secundaria{
	font-size: 14px;
	margin-top: 40px;
	font-family: ubuntu_regular;
	padding: 0;
}
.cat_secundaria > a{
	text-decoration: none;
	color: #c6c6c6;
}
.imagen_responsive > img{
	width:100%;
	height:auto;
}
.imagen_responsive{
	padding: 0;
}
.imagen_responsive > figure{
	padding-top: 50px;
	width:100%;
	height:auto;
}
.imagen_responsive > figure > figcaption{
	padding-bottom: 50px;
}
.imagen_responsive > figure > img{
	width:100%;
	height:auto;
}
.lifestyle_1{
	margin-top: 130px;
}
.photodiary_1{
	margin-top: 130px;
}
.lifestyle_2{
	margin-top: 130px;
}
.portada > section{
	padding: 0;
}
.widget{
	background-color: #F0F0F0;
	margin-top: 130px;
	height: 300px;
}
.widget > .container{
	height: 300px;
}
.widget > .container > .row{
	height: 300px;
}
.index_widgets{
	display: inline-block;
	text-align: center;
	margin: auto;
}
.widgettitle{
	font-family: playfair_display_regular;
}
.tnp-widget-minimal{
	max-width: 420px;
	margin: auto;
}
.newsletter_minimal_widget{
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-bottom-width: 1px;
}
.cargar_mas{
	text-align: center;
	margin-top: 130px;
}
.cargar_mas > div{
	border-style: solid;
	border-color: #5e5e5e;
	border-width: 1px;
	font-family: playfair_display_regular;
	font-size: 20px;
	height: 60px;
	width: 150px;
	margin: auto;
	vertical-align: middle;
}
.cargar_mas > div > a > p{
	margin-top: 13px;
	color: #5e5e5e;
}
footer{
	background-color: #F0F0F0;
	min-height: 100px;
	margin-top: 130px;
}
.footer_div > a{
	text-decoration: none;
}
.footer_a{
	font-family: playfair_display_regular;
	color: #000;
	margin-right: 20px;
}
footer > .container{
	padding: 43px;
}
.contenido_principal > p{
	padding-top: 15px;
}